@import "mixins.module";

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > .photoColumn{
        flex-basis: 0;
        flex-grow: 1;
        display: block;
        margin-right: 1.45rem;
        width: 50%;

        &:last-of-type{
            margin-right: 0;
        }

        & > .gridItem{
            margin-bottom: 1.45rem;
        }
    }

    // & > .gridItem {
    //     width: 25%;
    //     display: block;
    // }
    // & > .gridItem img {
    //     width: 100%;
    //     object-fit: cover;
    // }
}